<%- include('../../fragmente/head') %>
<%- include('../../fragmente/header') %>

<main>
    <!-- Adjusted paths to CSS -->
    <link rel="stylesheet" href="/resurse/css/general.css">
    <link rel="stylesheet" href="/resurse/css/nav.css">
    <link rel="stylesheet" href="/resurse/css/nav700.css">
    <link rel="stylesheet" href="/resurse/css/print.css" media="print">
    <!-- Content of doc1.html -->
    <h1>Document 1</h1>
    <p>Content goes here...</p>
</main>

<%- include('../../fragmente/footer') %>